@using System.Security.Claims
@implements IDisposable
@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject PersistentComponentState Persist

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp4</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Manage">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <a href="https://@Configuration["Auth0:Domain"]/oidc/logout?clientId=@Configuration["Auth0:ClientId"]&logout_hint=@sid" data-enhance-nav="false">
                         Logout
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Register">
                        <span class="bi bi-person" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Account/Login" data-enhance-nav="false">
                        <span class="bi bi-person-badge" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;
    private string? sid;
    private PersistingComponentStateSubscription _subscription;

    [CascadingParameter]
    public required HttpContext httpContext { get; set; } 

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.Uri;
        NavigationManager.LocationChanged += OnLocationChanged;

        _subscription = Persist.RegisterOnPersisting(PersistUser);

        if (Persist.TryTakeFromJson<string>("userSid", out var storedUserSid))
        {
            sid = storedUserSid;
        }
        else
        {
            var sidClaim = httpContext?.User?.FindFirstValue("sid");

            if (sidClaim is not null)
            {
                sid = httpContext?.User?.FindFirstValue("sid");
            }
        }
    }

    private Task PersistUser()
    {
        Persist.PersistAsJson("userSid", sid);
        return Task.CompletedTask;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = e.Location;
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
